@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .color-primary {
    background-color: #b34f4f;
  }
  .text-color-primary {
    color:#b34f4f; 
  }
  .color-secondary {
    background-color: #eff2fb;
  }
  .btn-hover {
    background-color: #b34f4f;
    @apply hover:shadow-xl;
  }
}
