@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .color-primary {
    background-color: #ec1f28;
  }
  .text-color-primary {
    color:#ec1f28; 
  }
  .color-secondary {
    background-color: #eff2fb;
  }
  .btn-hover:hover {
    background-color: #ec1f28;
    @apply hover:shadow-xl;
  }
  .sidebar-btn:hover {
    background-color: #eff2fb;
  }
}
